<div data-test-launchpad="" class="launchpad__base launchpad-ready">
  <div class="launchpad__buttons-top">
    <div data-test-launchpad-octave-buttons-container="" class="launchpad__button-arrow-container">
  <button data-test-launchpad-octave-up-button="" title="Octave transposition disabled" class="button launchpad__button launchpad__button-arrow
    
    launchpad__button-arrow--up" type="button">
  <div class="launchpad__button-arrow-pointer launchpad__button-arrow-pointer--up"></div>
</button>
  <button data-test-launchpad-octave-down-button="" title="Octave transposition disabled" class="button launchpad__button launchpad__button-arrow
    
    launchpad__button-arrow--down" type="button">
  <div class="launchpad__button-arrow-pointer launchpad__button-arrow-pointer--down"></div>
</button>
</div>
<div data-test-launchpad-transpose-buttons-container="" class="launchpad__button-arrow-container">
  <button data-test-launchpad-transpose-down-button="" title="Semitone transposition disabled" class="button launchpad__button launchpad__button-arrow
    
    launchpad__button-arrow--left" type="button">
  <div class="launchpad__button-arrow-pointer launchpad__button-arrow-pointer--left"></div>
</button>
  <button data-test-launchpad-transpose-up-button="" title="Semitone transposition disabled" class="button launchpad__button launchpad__button-arrow
    
    launchpad__button-arrow--right" type="button">
  <div class="launchpad__button-arrow-pointer launchpad__button-arrow-pointer--right"></div>
</button>
</div>
    <div data-test-launchpad-button="" class="launchpad__button"></div>
    <div data-test-launchpad-button="" class="launchpad__button"></div>
    <div data-test-launchpad-button="" class="launchpad__button"></div>
    <div data-test-launchpad-button="" class="launchpad__button"></div>
  </div>

  <div data-test-novation-logo="" class="launchpad__novation-logo">
    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 141.7 141.7"><path d="M124.7 6.9H16c-5.5 0-10 4.5-10 10v109.2c0 5.5 4.5 10 10 10h108.7c5.5 0 10-4.5 10-10V16.9c.1-5.5-4.4-10-10-10zM17.4 69.7L73 14.1l26.6 26.7L44 96.3 17.4 69.7zm103.6 10c-1.3 4.4-3.7 8.5-7.4 12.2l-37 37-27-27 55.6-55.6 7.4 7.4c3.9 3.9 6.6 8.1 8.1 12.7 1.4 4.4 1.5 8.9.3 13.3z" fill="#333332"></path></svg>
  </div>

  <div data-test-launchpad-grid="" class="launchpad__grid">
  <div class="launchpad__grid-pads">
      <div data-test-launchpad-pad="0" data-pad-index="81" data-pad-color-index="0" class="launchpad__pad
    
    " style="background-color: rgba(79,79,79, 1); border-color: rgba(79,79,79, 1)">
  
<!---->      
</div>
      <div data-test-launchpad-pad="1" data-pad-index="82" data-pad-color-index="0" class="launchpad__pad
    
    " style="background-color: rgba(79,79,79, 1); border-color: rgba(79,79,79, 1)">
  
<!---->      
</div>
      <div data-test-launchpad-pad="2" data-pad-index="83" data-pad-color-index="0" class="launchpad__pad
    
    " style="background-color: rgba(79,79,79, 1); border-color: rgba(79,79,79, 1)">
  
<!---->      
</div>
      <div data-test-launchpad-pad="3" data-pad-index="84" data-pad-color-index="0" class="launchpad__pad
    
    " style="background-color: rgba(79,79,79, 1); border-color: rgba(79,79,79, 1)">
  
<!---->      
</div>
      <div data-test-launchpad-pad="4" data-pad-index="85" data-pad-color-index="0" class="launchpad__pad
    
    " style="background-color: rgba(79,79,79, 1); border-color: rgba(79,79,79, 1)">
  
<!---->      
</div>
      <div data-test-launchpad-pad="5" data-pad-index="86" data-pad-color-index="0" class="launchpad__pad
    
    " style="background-color: rgba(79,79,79, 1); border-color: rgba(79,79,79, 1)">
  
<!---->      
</div>
      <div data-test-launchpad-pad="6" data-pad-index="87" data-pad-color-index="0" class="launchpad__pad
    
    " style="background-color: rgba(79,79,79, 1); border-color: rgba(79,79,79, 1)">
  
<!---->      
</div>
      <div data-test-launchpad-pad="7" data-pad-index="88" data-pad-color-index="0" class="launchpad__pad
    
    " style="background-color: rgba(79,79,79, 1); border-color: rgba(79,79,79, 1)">
  
<!---->      
</div>
      <div data-test-launchpad-pad="8" data-pad-index="71" data-pad-color-index="0" class="launchpad__pad
    
    " style="background-color: rgba(79,79,79, 1); border-color: rgba(79,79,79, 1)">
  
<!---->      
</div>
      <div data-test-launchpad-pad="9" data-pad-index="72" data-pad-color-index="0" class="launchpad__pad
    
    " style="background-color: rgba(79,79,79, 1); border-color: rgba(79,79,79, 1)">
  
<!---->      
</div>
      <div data-test-launchpad-pad="10" data-pad-index="73" data-pad-color-index="0" class="launchpad__pad
    
    " style="background-color: rgba(79,79,79, 1); border-color: rgba(79,79,79, 1)">
  
<!---->      
</div>
      <div data-test-launchpad-pad="11" data-pad-index="74" data-pad-color-index="0" class="launchpad__pad
    
    " style="background-color: rgba(79,79,79, 1); border-color: rgba(79,79,79, 1)">
  
<!---->      
</div>
      <div data-test-launchpad-pad="12" data-pad-index="75" data-pad-color-index="0" class="launchpad__pad
    
    " style="background-color: rgba(79,79,79, 1); border-color: rgba(79,79,79, 1)">
  
<!---->      
</div>
      <div data-test-launchpad-pad="13" data-pad-index="76" data-pad-color-index="0" class="launchpad__pad
    
    " style="background-color: rgba(79,79,79, 1); border-color: rgba(79,79,79, 1)">
  
<!---->      
</div>
      <div data-test-launchpad-pad="14" data-pad-index="77" data-pad-color-index="0" class="launchpad__pad
    
    " style="background-color: rgba(79,79,79, 1); border-color: rgba(79,79,79, 1)">
  
<!---->      
</div>
      <div data-test-launchpad-pad="15" data-pad-index="78" data-pad-color-index="0" class="launchpad__pad
    
    " style="background-color: rgba(79,79,79, 1); border-color: rgba(79,79,79, 1)">
  
<!---->      
</div>
      <div data-test-launchpad-pad="16" data-pad-index="61" data-pad-color-index="0" class="launchpad__pad
    
    " style="background-color: rgba(79,79,79, 1); border-color: rgba(79,79,79, 1)">
  
<!---->      
</div>
      <div data-test-launchpad-pad="17" data-pad-index="62" data-pad-color-index="0" class="launchpad__pad
    
    " style="background-color: rgba(79,79,79, 1); border-color: rgba(79,79,79, 1)">
  
<!---->      
</div>
      <div data-test-launchpad-pad="18" data-pad-index="63" data-pad-color-index="0" class="launchpad__pad
    
    " style="background-color: rgba(79,79,79, 1); border-color: rgba(79,79,79, 1)">
  
<!---->      
</div>
      <div data-test-launchpad-pad="19" data-pad-index="64" data-pad-color-index="0" class="launchpad__pad
    
    " style="background-color: rgba(79,79,79, 1); border-color: rgba(79,79,79, 1)">
  
<!---->      
</div>
      <div data-test-launchpad-pad="20" data-pad-index="65" data-pad-color-index="0" class="launchpad__pad
    
    " style="background-color: rgba(79,79,79, 1); border-color: rgba(79,79,79, 1)">
  
<!---->      
</div>
      <div data-test-launchpad-pad="21" data-pad-index="66" data-pad-color-index="0" class="launchpad__pad
    
    " style="background-color: rgba(79,79,79, 1); border-color: rgba(79,79,79, 1)">
  
<!---->      
</div>
      <div data-test-launchpad-pad="22" data-pad-index="67" data-pad-color-index="0" class="launchpad__pad
    
    " style="background-color: rgba(79,79,79, 1); border-color: rgba(79,79,79, 1)">
  
<!---->      
</div>
      <div data-test-launchpad-pad="23" data-pad-index="68" data-pad-color-index="0" class="launchpad__pad
    
    " style="background-color: rgba(79,79,79, 1); border-color: rgba(79,79,79, 1)">
  
<!---->      
</div>
      <div data-test-launchpad-pad="24" data-pad-index="51" data-pad-color-index="0" class="launchpad__pad
    
    " style="background-color: rgba(79,79,79, 1); border-color: rgba(79,79,79, 1)">
  
<!---->      
</div>
      <div data-test-launchpad-pad="25" data-pad-index="52" data-pad-color-index="0" class="launchpad__pad
    
    " style="background-color: rgba(79,79,79, 1); border-color: rgba(79,79,79, 1)">
  
<!---->      
</div>
      <div data-test-launchpad-pad="26" data-pad-index="53" data-pad-color-index="0" class="launchpad__pad
    
    " style="background-color: rgba(79,79,79, 1); border-color: rgba(79,79,79, 1)">
  
<!---->      
</div>
      <div data-test-launchpad-pad="27" data-pad-index="54" data-pad-color-index="0" class="launchpad__pad
    
    " style="background-color: rgba(79,79,79, 1); border-color: rgba(79,79,79, 1)">
  
<!---->      
</div>
      <div data-test-launchpad-pad="28" data-pad-index="55" data-pad-color-index="0" class="launchpad__pad
    
    " style="background-color: rgba(79,79,79, 1); border-color: rgba(79,79,79, 1)">
  
<!---->      
</div>
      <div data-test-launchpad-pad="29" data-pad-index="56" data-pad-color-index="0" class="launchpad__pad
    
    " style="background-color: rgba(79,79,79, 1); border-color: rgba(79,79,79, 1)">
  
<!---->      
</div>
      <div data-test-launchpad-pad="30" data-pad-index="57" data-pad-color-index="0" class="launchpad__pad
    
    " style="background-color: rgba(79,79,79, 1); border-color: rgba(79,79,79, 1)">
  
<!---->      
</div>
      <div data-test-launchpad-pad="31" data-pad-index="58" data-pad-color-index="0" class="launchpad__pad
    
    " style="background-color: rgba(79,79,79, 1); border-color: rgba(79,79,79, 1)">
  
<!---->      
</div>
      <div data-test-launchpad-pad="32" data-pad-index="41" data-pad-color-index="0" class="launchpad__pad
    
    " style="background-color: rgba(79,79,79, 1); border-color: rgba(79,79,79, 1)">
  
<!---->      
</div>
      <div data-test-launchpad-pad="33" data-pad-index="42" data-pad-color-index="0" class="launchpad__pad
    
    " style="background-color: rgba(79,79,79, 1); border-color: rgba(79,79,79, 1)">
  
<!---->      
</div>
      <div data-test-launchpad-pad="34" data-pad-index="43" data-pad-color-index="0" class="launchpad__pad
    
    " style="background-color: rgba(79,79,79, 1); border-color: rgba(79,79,79, 1)">
  
<!---->      
</div>
      <div data-test-launchpad-pad="35" data-pad-index="44" data-pad-color-index="0" class="launchpad__pad
    
    " style="background-color: rgba(79,79,79, 1); border-color: rgba(79,79,79, 1)">
  
<!---->      
</div>
      <div data-test-launchpad-pad="36" data-pad-index="45" data-pad-color-index="0" class="launchpad__pad
    
    " style="background-color: rgba(79,79,79, 1); border-color: rgba(79,79,79, 1)">
  
<!---->      
</div>
      <div data-test-launchpad-pad="37" data-pad-index="46" data-pad-color-index="0" class="launchpad__pad
    
    " style="background-color: rgba(79,79,79, 1); border-color: rgba(79,79,79, 1)">
  
<!---->      
</div>
      <div data-test-launchpad-pad="38" data-pad-index="47" data-pad-color-index="0" class="launchpad__pad
    
    " style="background-color: rgba(79,79,79, 1); border-color: rgba(79,79,79, 1)">
  
<!---->      
</div>
      <div data-test-launchpad-pad="39" data-pad-index="48" data-pad-color-index="0" class="launchpad__pad
    
    " style="background-color: rgba(79,79,79, 1); border-color: rgba(79,79,79, 1)">
  
<!---->      
</div>
      <div data-test-launchpad-pad="40" data-pad-index="31" data-pad-color-index="0" class="launchpad__pad
    
    " style="background-color: rgba(79,79,79, 1); border-color: rgba(79,79,79, 1)">
  
<!---->      
</div>
      <div data-test-launchpad-pad="41" data-pad-index="32" data-pad-color-index="0" class="launchpad__pad
    
    " style="background-color: rgba(79,79,79, 1); border-color: rgba(79,79,79, 1)">
  
<!---->      
</div>
      <div data-test-launchpad-pad="42" data-pad-index="33" data-pad-color-index="0" class="launchpad__pad
    
    " style="background-color: rgba(79,79,79, 1); border-color: rgba(79,79,79, 1)">
  
<!---->      
</div>
      <div data-test-launchpad-pad="43" data-pad-index="34" data-pad-color-index="0" class="launchpad__pad
    
    " style="background-color: rgba(79,79,79, 1); border-color: rgba(79,79,79, 1)">
  
<!---->      
</div>
      <div data-test-launchpad-pad="44" data-pad-index="35" data-pad-color-index="0" class="launchpad__pad
    
    " style="background-color: rgba(79,79,79, 1); border-color: rgba(79,79,79, 1)">
  
<!---->      
</div>
      <div data-test-launchpad-pad="45" data-pad-index="36" data-pad-color-index="0" class="launchpad__pad
    
    " style="background-color: rgba(79,79,79, 1); border-color: rgba(79,79,79, 1)">
  
<!---->      
</div>
      <div data-test-launchpad-pad="46" data-pad-index="37" data-pad-color-index="0" class="launchpad__pad
    
    " style="background-color: rgba(79,79,79, 1); border-color: rgba(79,79,79, 1)">
  
<!---->      
</div>
      <div data-test-launchpad-pad="47" data-pad-index="38" data-pad-color-index="0" class="launchpad__pad
    
    " style="background-color: rgba(79,79,79, 1); border-color: rgba(79,79,79, 1)">
  
<!---->      
</div>
      <div data-test-launchpad-pad="48" data-pad-index="21" data-pad-color-index="0" class="launchpad__pad
    
    " style="background-color: rgba(79,79,79, 1); border-color: rgba(79,79,79, 1)">
  
<!---->      
</div>
      <div data-test-launchpad-pad="49" data-pad-index="22" data-pad-color-index="0" class="launchpad__pad
    
    " style="background-color: rgba(79,79,79, 1); border-color: rgba(79,79,79, 1)">
  
<!---->      
</div>
      <div data-test-launchpad-pad="50" data-pad-index="23" data-pad-color-index="0" class="launchpad__pad
    
    " style="background-color: rgba(79,79,79, 1); border-color: rgba(79,79,79, 1)">
  
<!---->      
</div>
      <div data-test-launchpad-pad="51" data-pad-index="24" data-pad-color-index="0" class="launchpad__pad
    
    " style="background-color: rgba(79,79,79, 1); border-color: rgba(79,79,79, 1)">
  
<!---->      
</div>
      <div data-test-launchpad-pad="52" data-pad-index="25" data-pad-color-index="0" class="launchpad__pad
    
    " style="background-color: rgba(79,79,79, 1); border-color: rgba(79,79,79, 1)">
  
<!---->      
</div>
      <div data-test-launchpad-pad="53" data-pad-index="26" data-pad-color-index="0" class="launchpad__pad
    
    " style="background-color: rgba(79,79,79, 1); border-color: rgba(79,79,79, 1)">
  
<!---->      
</div>
      <div data-test-launchpad-pad="54" data-pad-index="27" data-pad-color-index="0" class="launchpad__pad
    
    " style="background-color: rgba(79,79,79, 1); border-color: rgba(79,79,79, 1)">
  
<!---->      
</div>
      <div data-test-launchpad-pad="55" data-pad-index="28" data-pad-color-index="0" class="launchpad__pad
    
    " style="background-color: rgba(79,79,79, 1); border-color: rgba(79,79,79, 1)">
  
<!---->      
</div>
      <div data-test-launchpad-pad="56" data-pad-index="11" data-pad-color-index="0" class="launchpad__pad
    
    " style="background-color: rgba(79,79,79, 1); border-color: rgba(79,79,79, 1)">
  
<!---->      
</div>
      <div data-test-launchpad-pad="57" data-pad-index="12" data-pad-color-index="0" class="launchpad__pad
    
    " style="background-color: rgba(79,79,79, 1); border-color: rgba(79,79,79, 1)">
  
<!---->      
</div>
      <div data-test-launchpad-pad="58" data-pad-index="13" data-pad-color-index="0" class="launchpad__pad
    
    " style="background-color: rgba(79,79,79, 1); border-color: rgba(79,79,79, 1)">
  
<!---->      
</div>
      <div data-test-launchpad-pad="59" data-pad-index="14" data-pad-color-index="0" class="launchpad__pad
    
    " style="background-color: rgba(79,79,79, 1); border-color: rgba(79,79,79, 1)">
  
<!---->      
</div>
      <div data-test-launchpad-pad="60" data-pad-index="15" data-pad-color-index="0" class="launchpad__pad
    
    " style="background-color: rgba(79,79,79, 1); border-color: rgba(79,79,79, 1)">
  
<!---->      
</div>
      <div data-test-launchpad-pad="61" data-pad-index="16" data-pad-color-index="0" class="launchpad__pad
    
    " style="background-color: rgba(79,79,79, 1); border-color: rgba(79,79,79, 1)">
  
<!---->      
</div>
      <div data-test-launchpad-pad="62" data-pad-index="17" data-pad-color-index="0" class="launchpad__pad
    
    " style="background-color: rgba(79,79,79, 1); border-color: rgba(79,79,79, 1)">
  
<!---->      
</div>
      <div data-test-launchpad-pad="63" data-pad-index="18" data-pad-color-index="0" class="launchpad__pad
    
    " style="background-color: rgba(79,79,79, 1); border-color: rgba(79,79,79, 1)">
  
<!---->      
</div>
  </div>

  <div data-test-meta-objects="" class="launchpad__meta-object-container
      ">
<!---->  </div>

  <span data-test-meta-object-decription="" id="meta-object-description--ember166" class="accessible-text">
    Press Space-bar to Grab, Backspace to delete.
  </span>
</div>

  <div class="launchpad__buttons-side">
    <div data-test-launchpad-button="" class="launchpad__button"></div>
    <div data-test-launchpad-button="" class="launchpad__button"></div>
    <div data-test-launchpad-button="" class="launchpad__button"></div>
    <div data-test-launchpad-button="" class="launchpad__button"></div>
    <div data-test-launchpad-button="" class="launchpad__button"></div>
    <div data-test-launchpad-button="" class="launchpad__button"></div>
    <div data-test-launchpad-button="" class="launchpad__button"></div>
    <div data-test-launchpad-button="" class="launchpad__button"></div>
  </div>
</div>