<div data-test-scroll-container="" class="sidebar__scroll-container">

    

    <div class="widget-settings__header sidebar__header" data-test-sidebar-header="">

    <h4 data-test-sidebar-heading="">Program Change</h4>
  
    <button data-test-sidebar-close-button="" title="Close" class="button sidebar__close-button" type="button">
      <svg data-test-icon="" class="icon">
<!---->
    <use xlink:href="/assets/images/ikonate.svg#close"></use>
</svg>
    </button>
</div>

      <div class="widget-settings__body sidebar__body">
  <label for="control-value--ember103">Program number</label>
<input data-test-control-value-input="" id="control-value--ember103" class="input" max="127" min="0" type="number">
  <label class="select-with-warning__label" for="midi-channel-select--ember104">MIDI channel</label>
<select data-test-midi-channel-select="" id="midi-channel-select--ember104" title="MIDI channel" class="midi-channel-select select select-with-warning__select
    ">
<!---->
    <option value="127">
      Global channel
    </option>

    <option value="0">
      Channel
      1
    </option>
    <option value="1">
      Channel
      2
    </option>
    <option value="2">
      Channel
      3
    </option>
    <option value="3">
      Channel
      4
    </option>
    <option value="4">
      Channel
      5
    </option>
    <option value="5">
      Channel
      6
    </option>
    <option value="6">
      Channel
      7
    </option>
    <option value="7">
      Channel
      8
    </option>
    <option value="8">
      Channel
      9
    </option>
    <option value="9">
      Channel
      10
    </option>
    <option value="10">
      Channel
      11
    </option>
    <option value="11">
      Channel
      12
    </option>
    <option value="12">
      Channel
      13
    </option>
    <option value="13">
      Channel
      14
    </option>
    <option value="14">
      Channel
      15
    </option>
    <option value="15">
      Channel
      16
    </option>
</select>
<!---->
</div>

<div class="widget-settings__footer sidebar__footer">
  <label data-test-color-picker-label="">
  Colour
  <ul data-test-color-picker="" role="menu" class="color-picker">
    <li title="Red" role="menuitemradio" tabindex="0" aria-checked="true" class="color-picker--item selected" style="background: rgb(255,1,0)"></li>
    <li title="Peach" role="menuitemradio" tabindex="0" aria-checked="false" class="color-picker--item " style="background: rgb(255,145,140)"></li>
    <li title="Orange" role="menuitemradio" tabindex="0" aria-checked="false" class="color-picker--item " style="background: rgb(235,123,12)"></li>
    <li title="Sand" role="menuitemradio" tabindex="0" aria-checked="false" class="color-picker--item " style="background: rgb(254,212,156)"></li>
    <li title="Pale_orange" role="menuitemradio" tabindex="0" aria-checked="false" class="color-picker--item " style="background: rgb(232,206,93)"></li>
    <li title="Orange_white" role="menuitemradio" tabindex="0" aria-checked="false" class="color-picker--item " style="background: rgb(234,239,175)"></li>
    <li title="Pastel_yellow" role="menuitemradio" tabindex="0" aria-checked="false" class="color-picker--item " style="background: rgb(255,224,92)"></li>
    <li title="Yellow" role="menuitemradio" tabindex="0" aria-checked="false" class="color-picker--item " style="background: rgb(243,243,6)"></li>
    <li title="Sick_green" role="menuitemradio" tabindex="0" aria-checked="false" class="color-picker--item " style="background: rgb(205,255,3)"></li>
    <li title="Lime" role="menuitemradio" tabindex="0" aria-checked="false" class="color-picker--item " style="background: rgb(170,241,29)"></li>
    <li title="Teal" role="menuitemradio" tabindex="0" aria-checked="false" class="color-picker--item " style="background: rgb(4,255,137)"></li>
    <li title="Green" role="menuitemradio" tabindex="0" aria-checked="false" class="color-picker--item " style="background: rgb(31,206,38)"></li>
    <li title="Dentist_green" role="menuitemradio" tabindex="0" aria-checked="false" class="color-picker--item " style="background: rgb(193,249,205)"></li>
    <li title="Green_blue" role="menuitemradio" tabindex="0" aria-checked="false" class="color-picker--item " style="background: rgb(3,255,163)"></li>
    <li title="Pastel_teal" role="menuitemradio" tabindex="0" aria-checked="false" class="color-picker--item " style="background: rgb(145,255,232)"></li>
    <li title="Cyan" role="menuitemradio" tabindex="0" aria-checked="false" class="color-picker--item " style="background: rgb(24,217,217)"></li>
    <li title="Blue" role="menuitemradio" tabindex="0" aria-checked="false" class="color-picker--item " style="background: rgb(33,167,213)"></li>
    <li title="Deep_blue" role="menuitemradio" tabindex="0" aria-checked="false" class="color-picker--item " style="background: rgb(75,78,255)"></li>
    <li title="Pastel_purple" role="menuitemradio" tabindex="0" aria-checked="false" class="color-picker--item " style="background: rgb(163,121,255)"></li>
    <li title="Purple" role="menuitemradio" tabindex="0" aria-checked="false" class="color-picker--item " style="background: rgb(156,48,237)"></li>
    <li title="Pale_purple" role="menuitemradio" tabindex="0" aria-checked="false" class="color-picker--item " style="background: rgb(205,180,255)"></li>
    <li title="Pink" role="menuitemradio" tabindex="0" aria-checked="false" class="color-picker--item " style="background: rgb(224,57,224)"></li>
    <li title="Pastel_pink" role="menuitemradio" tabindex="0" aria-checked="false" class="color-picker--item " style="background: rgb(255,121,255)"></li>
    <li title="Outrageous_pink" role="menuitemradio" tabindex="0" aria-checked="false" class="color-picker--item " style="background: rgb(255,0,163)"></li>
    <li title="Rose" role="menuitemradio" tabindex="0" aria-checked="false" class="color-picker--item " style="background: rgb(255,68,133)"></li>
    <li title="White" role="menuitemradio" tabindex="0" aria-checked="false" class="color-picker--item " style="background: rgb(255,255,255)"></li>
    <li title="Dim_white" role="menuitemradio" tabindex="0" aria-checked="false" class="color-picker--item " style="background: rgb(121,121,121)"></li>
    <li title="Black" role="menuitemradio" tabindex="0" aria-checked="false" class="color-picker--item " style="background: rgb(79,79,79)"></li>
</ul>
</label>
</div>

    <div class="widget-settings__footer button-stack sidebar__footer">
      <button data-test-remove-widget-button="" class="button button--secondary" type="button">
        Remove
      </button>
    </div>


  </div>